.App {
  text-align: center;
}

.frames {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
}


.frame-header {
  font-weight: bold;
}

.frame-rolls {
  display: flex;
  width: 100%;
}

.roll-box {
  width: 50%;
  height: 20px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-score {
  font-size: 14px;
  color: #777;
}

.last-frame {
  width: 150px;
}
